@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgba:rgba(15,23,42);
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgba(15,23,42); 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}